@{
    ViewBag.Title = "Aviso de Conteúdo Sensível";
    Layout = "_Layout";
}


<div class="termos-de-uso">
    <h1>Aviso de Conteúdo Sensível</h1>

    <p>O <strong>paraisoproibido.com</strong> contém material que pode ser considerado sensível ou inapropriado para alguns públicos. Recomendamos discrição ao acessar este site. O conteúdo é estritamente destinado a adultos.</p>
</div>