@{
    ViewBag.Title = "Termo de Uso";
    Layout = "_Layout";
}


<div class="termos-de-uso">
    <h1>18 USC 2257 Compliance Statement</h1>
    <p>
        All models, actors, actresses, and other persons that appear in any visual depiction of actual sexually explicit conduct appearing or otherwise contained in this website were over the age of eighteen (18) years at the time of the creation of such depictions.
    </p>
    <p>
        All other visual depictions displayed on this website are exempt from the provisions of 18 U.S.C. § 2257 and 28 C.F.R. § 75 because they do not portray actual sexually explicit conduct as specifically defined in 18 U.S.C. § 2257, or they were created prior to July 3, 1995, or they do not involve depictions of human beings.
    </p>
    <p>
        The owners and operators of this website are not the primary producer (as that term is defined in 18 U.S.C. § 2257) of any of the visual content contained in the website. However, the operators of this website fully comply with the requirements set forth in 18 U.S.C. § 2257 and 28 C.F.R. § 75 and require all primary producers to provide proper documentation substantiating that all individuals appearing in their productions were 18 years of age or older at the time of the production.
    </p>
    <p>
        Records required by 18 U.S.C. § 2257 and associated regulations are kept by the custodian of records at the following location:
    </p>
    <p>
        <strong>Custodian of Records</strong><br>
    </p>
    <p><strong>Código Central Suporte em Informática Ltda</strong><br>
        <strong>CNPJ</strong>: 07.432.474/0001-51</p>
</div>

