@{
    ViewBag.Title = "Política de Política de Cookie";
    Layout = "_Layout";
}

<div class="politica-de-cookies">
    <h1>Política de Cookie</h1>
    
<p><strong>Última Atualização: 01.11.2024</strong></p>

<h2>1. O que são Cookies?</h2>
<p>Cookies são pequenos arquivos de texto armazenados no seu dispositivo quando você visita um site. Eles ajudam a melhorar sua experiência, lembrar suas preferências e garantir que o conteúdo exibido seja relevante para você.</p>

<h2>2. Uso de Cookies no paraisoproibido.com</h2>
<p>No <strong>paraisoproibido.com</strong>, utilizamos cookies para entender melhor suas preferências, adaptar o conteúdo e garantir que menores de idade não tenham acesso ao site.</p>

<h2>3. Tipos de Cookies Utilizados</h2>
<p>Usamos cookies de sessão e cookies persistentes. Cookies de sessão são temporários e expiram quando você fecha o navegador. Cookies persistentes permanecem no seu dispositivo por mais tempo ou até que você os exclua manualmente.</p>

<h2>4. Como Gerenciar Cookies</h2>
<p>Você pode ajustar as configurações do seu navegador para bloquear ou excluir cookies. No entanto, isso pode afetar sua experiência ao navegar pelo nosso site e limitar algumas funcionalidades.</p>

<h2>5. Consentimento</h2>
<p>Ao continuar navegando no nosso site, você concorda com o uso de cookies conforme descrito nesta política. Caso não concorde, você deve ajustar as configurações do seu navegador ou interromper o uso do site.</p>
</div>