@{
    ViewBag.Title = "Termo de Consentimento";
    Layout = "_Layout";
}

<div class="termo-de-consentimento">
    <h1>Termo de Consentimento</h1>
    
<p><strong>Última Atualização: 01.11.2024</strong></p>

    <p>Ao acessar o <strong>paraisoproibido.com</strong>, você declara que é maior de 18 anos e que compreende a natureza do conteúdo adulto deste site. Este termo serve como consentimento explícito para visualizar o conteúdo, e você confirma que o faz por vontade própria.</p>
</div>